.navbar {
    height: 115px;
}
.navbar-nav a.active {
    color: red;
}
#title {
    color:red;

}




 table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
             border: 2px solid #000;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
.custom-bordered-table {
     border: 2px solid #000;
}
.bordered-th {
    border: 2px solid #000; /* Couleur noire */
}
.bordered-tr {
     border: 2px solid #000;
}
.genre-column {
    width: 649px;
}
